.anvil-m3-card-shadow {
  display: flex;
  background: none;
  min-width: 24px;
  min-height: 24px;
  margin: 0 8px 8px 0px;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
} 
.anvil-m3-card-shadow.none-image {}
.anvil-m3-card-shadow.top-image {flex-direction: column;}
.anvil-m3-card-shadow.bottom-image {flex-direction: column-reverse;}
.anvil-m3-card-shadow.left-image {flex-direction: row;}
.anvil-m3-card-shadow.right-image {flex-direction: row-reverse;}
.anvil-m3-card-shadow.full-image {}

.anvil-m3-card-image {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  min-height: 24px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
}
.anvil-m3-card-image.none-image {display: none;}
.anvil-m3-card-image.top-image {border-radius: 12px 12px 0 0;}
.anvil-m3-card-image.bottom-image {border-radius: 0 0 12px 12px;}
.anvil-m3-card-image.left-image {border-radius: 12px 0 0 12px;}
.anvil-m3-card-image.right-image {border-radius: 0 12px 12px 0;}
.anvil-m3-card-image.full-image {border-radius: 12px;}

.anvil-m3-card-content {
  min-width: 24px;
  min-height: 24px;
}
.anvil-m3-card-content.none-image {border-radius: 12px;}
.anvil-m3-card-content.top-image {border-radius: 0 0 12px 12px; width: 100%;}
.anvil-m3-card-content.bottom-image {border-radius: 12px 12px 0 0; width: 100%;}
.anvil-m3-card-content.left-image {border-radius: 0 12px 12px 0; height: 100%;}
.anvil-m3-card-content.right-image {border-radius: 12px 0 0 12px; height: 100%;}
.anvil-m3-card-content.full-image {display: none;}

/* Elevated */
.anvil-m3-card-content.anvil-m3-elevated { 
  background-color: var(--anvil-m3-surface-container-low); 
/*   border: 1px solid var(--anvil-m3-surface-container-low); */
/*   box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);   /* lvl 1 */ */
}

.anvil-m3-card-shadow.anvil-m3-elevated {
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);   /* lvl 1 */
}


/* Filled */
.anvil-m3-card-content.anvil-m3-filled { 
  background-color: var(--anvil-m3-surface-container-highest); 
/*   border: 1px solid var(--anvil-m3-surface-container-highest); */
}
.anvil-m3-card.anvil-m3-filled.anvil-m3-interactive:not(.anvil-m3-disabled):hover {
  background: linear-gradient(0deg, var(--anvil-m3-dark-overlay-1), var(--anvil-m3-dark-overlay-1)), var(--anvil-m3-surface-container-highest); 
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);    /* lvl 1 */
}
.anvil-m3-card.anvil-m3-filled.anvil-m3-disabled {
  color: var(--anvil-m3-surface-variant);
  opacity: .38;
  box-shadow: none;
}

/* Outlined */
.anvil-m3-card-content.anvil-m3-outlined {
  border: 1px solid var(--anvil-m3-outline);
}
.anvil-m3-card-content.anvil-m3-outlined.top-image {
  border-top-width: 0px;
}
.anvil-m3-card-content.anvil-m3-outlined.bottom-image {
  border-bottom-width: 0px;
}
.anvil-m3-card-content.anvil-m3-outlined.left-image {
  border-left-width: 0px;
}
.anvil-m3-card-content.anvil-m3-outlined.right-image {
  border-right-width: 0px;
}
.anvil-m3-card-content.anvil-m3-outlined.none-image {
  
}

.anvil-m3-card-image.anvil-m3-outlined {
  border: 1px solid var(--anvil-m3-outline);
}
.anvil-m3-card-image.anvil-m3-outlined.top-image {
  border-bottom-width: 0px;
}
.anvil-m3-card-image.anvil-m3-outlined.bottom-image {
  border-top-width: 0px;
}
.anvil-m3-card-image.anvil-m3-outlined.left-image {
  border-right-width: 0px;
}
.anvil-m3-card-image.anvil-m3-outlined.right-image {
  border-left-width: 0px;
}



/* 
.anvil-m3-card {
  display: inline-flex;
  background: none;
  border: none;
  min-width: 15px;
  margin: 0 8px 8px 0;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  
  border-width: 0px;
} */

/* div {
  border-radius: 1rem;
  border-width: 5px;
}

span {
  border-radius: 0 0 calc(1rem - 5px) calc(1rem - 5px);
  border-width: 3px;
} */


/* .anvil-m3-card-image {
  background-image: url("https://images.unsplash.com/photo-1574169208507-84376144848b?q=80&w=579&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 50px;
  width: 100%;
/*   border-radius: 0 0 12px 12px; */
} */

.anvil-m3-card-content-container {
  margin: 0 16px;

  background: green;
/*   box-sizing: border-box; */
}



/* Elevated */
.xanvil-m3-card.anvil-m3-elevated { 
  background-color: var(--anvil-m3-surface-container-low); 
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);   /* lvl 1 */
}
.xanvil-m3-card.anvil-m3-elevated.anvil-m3-interactive:not(.anvil-m3-disabled):hover {
  background: linear-gradient(0deg, var(--anvil-m3-dark-overlay-1), var(--anvil-m3-dark-overlay-1)), var(--anvil-m3-surface-container-low); 
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);   /* lvl 2 */
}
.xanvil-m3-card.anvil-m3-elevated.anvil-m3-disabled {
  color: var(--anvil-m3-surface-variant);
  opacity: .38;
  box-shadow: none;
}

/* Filled */
.xanvil-m3-card.anvil-m3-filled { 
  background-color: var(--anvil-m3-surface-container-highest); 
}
.xanvil-m3-card.anvil-m3-filled.anvil-m3-interactive:not(.anvil-m3-disabled):hover {
  background: linear-gradient(0deg, var(--anvil-m3-dark-overlay-1), var(--anvil-m3-dark-overlay-1)), var(--anvil-m3-surface-container-highest); 
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);    /* lvl 1 */
}
.xanvil-m3-card.anvil-m3-filled.anvil-m3-disabled {
  color: var(--anvil-m3-surface-variant);
  opacity: .38;
  box-shadow: none;
}

/* Outlined */
.xanvil-m3-card.anvil-m3-outlined { 
  background-color: var(--anvil-m3-surface);  
  border: 1px solid var(--anvil-m3-outline);
}
.xanvil-m3-card.anvil-m3-outlined.anvil-m3-interactive:not(.anvil-m3-disabled):hover {
  background: linear-gradient(0deg, var(--anvil-m3-dark-overlay-1), var(--anvil-m3-dark-overlay-1)), var(--anvil-m3-surface); 
  box-shadow: none;
}
.xanvil-m3-card.anvil-m3-outlined.anvil-m3-disabled {
  color: var(--anvil-m3-surface-variant);
  opacity: .12;
  box-shadow: none;
}