.anvil-m3-buttonMenu-container {
  display: inline-block;
}

.anvil-m3-buttomMenu-items-container {
  min-width: 112px;
  max-width: 280px;
  border-radius: 4px;
  padding: 8px 0;
  background-color: var(--anvil-m3-surface-container);
}