.anvil-m3-radiobutton-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 24px;
  
  border: 1px solid green;
}

input.anvil-m3-radiobutton {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  font-size: 18px !important;
  font-family: 'Material Symbols Outlined';
  -webkit-font-feature-settings: 'liga' 1;
  -moz-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga' 1;
  color: var(--anvil-m3-on-surface-variant);
  margin-top: -8px;
  margin-right: -1px;
  cursor: pointer;
  display: block;
  
  border: 1px solid blue;
}

input.anvil-m3-radiobutton:after {
  content: "radio_button_unchecked";

  border: 2px dashed blue;
}

input.anvil-m3-radiobutton:checked:after {
  color: var(--anvil-m3-primary);
  content: "radio_button_checked";
  
  border: 2px dotted goldenrod;
}

input.anvil-m3-radiobutton:disabled {
  cursor: not-allowed !important;
}

.anvil-m3-radiobutton-hover {
  border-radius: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  border: 1px dashed red;
}

.anvil-m3-radiobutton-container:hover .anvil-m3-radiobutton-hover {
/*   background-color: var(--anvil-m3-dark-overlay-1);  */
  background: pink;
}
.anvil-m3-radiobutton-container:hover .anvil-m3-radiobutton-hover:has(input.anvil-m3-radiobutton:checked) {
/*   background-color: var(--anvil-m3-primary-overlay-2); */
  background: green;
}

.anvil-m3-radiobutton-container:hover .anvil-m3-radiobutton-hover:has(input.anvil-m3-radiobutton:disabled, input.anvil-m3-radiobutton:checked:disabled) {

/*   background:blue
  cursor: auto; */
}

.anvil-m3-radiobutton-container:hover .anvil-m3-radiobutton-hover:has(input.anvil-m3-radiobutton:disabled){
    background-color: transparent;
}

/* this will legit never happen */
/* .anvil-m3-radiobutton-container:focus .anvil-m3-radiobutton-hover { 
  background-color: var(--anvil-m3-dark-overlay-2);
}

.anvil-m3-radiobutton-container:focus .anvil-m3-radiobutton-hover:has(input.anvil-m3-radiobutton:checked) {
  background-color: var(--anvil-m3-primary-overlay-3);
}

.anvil-m3-radiobutton-container:focus .anvil-m3-radiobutton-hover:has(input.anvil-m3-radiobutton:disabled) {
  background-color: transparent; */

/* input.anvil-m3-radiobutton:disabled input.anvil-m3-radiobutton:disabled:checked{ */
/*   color: var(--anvil-m3-on-disabled); */
/*   color: pink; */
/*   border: 1px solid green; */
/* } */
/* 
input.anvil-m3-radiobutton:disabled:checked input.anvil-m3-radiobutton:disabled:checked {
  color: var(--anvil-m3-on-disabled);
}

input.anvil-m3-radiobutton:disabled:after  {
  color: var(--anvil-m3-surface);
}
 */